[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
project-root-finder = {path = ".", editable = true}
pytest = "*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.12"
